.menu{
    margin: 2em;
}

.menu-container{
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
}

.menu-container-card{
    width: 224px;
    height: 275px;
    left: 243px;
    top: 154px;
    margin: 20px;
    /* margin-right: 66px; */
    border-radius: 2px;
    /* margin-top: 40px; */
}